@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Datadog .NET ToDo Application</h1>
    <p class="lead">This application was built using .NET Framework 4.6.1 with Datadog's .NET APM.</p>
    <p><a href="https://docs.datadoghq.com/tracing/setup/dotnet/" class="btn btn-primary btn-lg">Learn more about Datadog's .NET APM &raquo;</a></p>
</div>